src/EgvpAddressbook/Connected Services/EgvpEnterpriseSoap/EGVP-WebService87.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <documentation>
			Change certain values of an existing account in EGVP-E and in corresponding SAFE.
		</documentation>
  </annotation>
  <simpleType name="EditReturnCodeType">
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>Operation completed without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WEBSERVICE_DISABLED">
        <annotation>
          <documentation>The requested web service is disabled.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>The required SAFE-userID was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userID) does not exist in EGVP-E.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ENCRYPT_CERTIFICATE_INVALID">
        <annotation>
          <documentation>The given encryption certificate for user is invalid.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FIELD_NOT_DELETEABLE">
        <annotation>
          <documentation>The request want to delete a mandatory field of the account.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FIELD_VALUE_INVALID">
        <annotation>
          <documentation>The request want to change a field of the account with an invalid value (e.g. no '@' sign in email or unknown state).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DIRECTORY_NOT_AVAILABLE">
        <annotation>
          <documentation>Connection to user directory (e.g. SAFE) cannot be established.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USER_NOT_FOUND_IN_DIRECTORY">
        <annotation>
          <documentation>Account (userID) does not exist in user directory (e.g. SAFE) anymore.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DIRECTORY_ERROR">
        <annotation>
          <documentation>User directory (e.g. SAFE) answered with an error when trying to edit user.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <complexType name="AccountBusinessCard">
    <sequence>
      <element name="userId" type="string">
        <annotation>
          <documentation>The ID of edited account.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Address" type="string">
        <annotation>
          <documentation>
							Title of person in edited account. Currently known: "Frau", "Herr" oder "juristische Person".
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Title" nillable="true" type="string">
        <annotation>
          <documentation>
							Academic Title of person in edited account. For example: "Dr.", "Prof.", ...
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Name" type="string">
        <annotation>
          <documentation>
							The lastname of person in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="ChristianName" nillable="true" type="string">
        <annotation>
          <documentation>
							First name of person in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Organisation" type="string">
        <annotation>
          <documentation>
							Organisation of person in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="OrganisationalUnit" nillable="true" type="string">
        <annotation>
          <documentation>
							Name of agency, the person in edited account is working for.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Street" type="string">
        <annotation>
          <documentation>
							Street of person's address in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="StreetNumber" type="string">
        <annotation>
          <documentation>
							Street number of person's address in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="ZipCode" type="string">
        <annotation>
          <documentation>
							ZIP code of person's address in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="City" type="string">
        <annotation>
          <documentation>
							Town of person's address in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="FederalState" type="string">
        <annotation>
          <documentation>
							State of person's address in edited account. EGVP-E has a list of known states, which this value has to match.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Country" type="string">
        <annotation>
          <documentation>
							Country of person's address in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Email" nillable="true" type="string">
        <annotation>
          <documentation>
							Email of person in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Cellphone" nillable="true" type="string">
        <annotation>
          <documentation>
							Mobile phone number of person in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Phone" nillable="true" type="string">
        <annotation>
          <documentation>
							Phone number of person in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="Fax" nillable="true" type="string">
        <annotation>
          <documentation>
							Fax number of person in edited account.
						</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="ExternalId" nillable="true" type="string">
        <annotation>
          <documentation>
							External ID of edited account.
						</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="editAccountRequest">
    <complexType>
      <sequence>
        <element name="userId" type="string">
          <annotation>
            <documentation>The ID of account to edit.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Address" type="string">
          <annotation>
            <documentation>
							New form of address of person in account. Currently known: "Frau", "Herr" oder "juristische Person".
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Title" nillable="true" type="string">
          <annotation>
            <documentation>
							New academic title of person in account. For example: "Dr.", "Prof.", ...
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Name" type="string">
          <annotation>
            <documentation>
							The new lastname of person in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="ChristianName" nillable="true" type="string">
          <annotation>
            <documentation>
							New first name of person in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Organisation" type="string">
          <annotation>
            <documentation>
							New organization or branch of industry of this account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="OrganisationalUnit" nillable="true" type="string">
          <annotation>
            <documentation>
							New organization unit of the person in account is working for, or a new contact person of this account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Street" type="string">
          <annotation>
            <documentation>
							New street of person's address in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="StreetNumber" type="string">
          <annotation>
            <documentation>
							New street number of person's address in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="ZipCode" type="string">
          <annotation>
            <documentation>
							New ZIP code of person's address in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="City" type="string">
          <annotation>
            <documentation>
							New town of person's address in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="FederalState" type="string">
          <annotation>
            <documentation>
							New state of person's address in account. EGVP-E has a list of known states, which this value has to match.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Country" type="string">
          <annotation>
            <documentation>
							New country of person's address in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Email" nillable="true" type="string">
          <annotation>
            <documentation>
							New email of person in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Cellphone" nillable="true" type="string">
          <annotation>
            <documentation>
							New mobile phone number of person in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Phone" nillable="true" type="string">
          <annotation>
            <documentation>
							New phone number of person in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="Fax" nillable="true" type="string">
          <annotation>
            <documentation>
							New fax number of person in account.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="ExternalId" nillable="true" type="string">
          <annotation>
            <documentation>
							New external ID of account.
						</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="signature" type="base64Binary">
          <annotation>
            <documentation>
							New signature certificate of user's account to change.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="signaturePin" type="string">
          <annotation>
            <documentation>
							New PIN to open signature certificate of user's account to change.
						</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="editAccountResponse">
    <complexType>
      <sequence>
        <element name="returnCode" type="tns:EditReturnCodeType">
          <annotation>
            <documentation>The result of the edit account operation.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="returnCodeDetails" type="string">
          <annotation>
            <documentation>Details to the result of the edit account operation.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="changedBusinessCard" type="tns:AccountBusinessCard">
          <annotation>
            <documentation>The result of the edit account operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>