src/EgvpAddressbook/Connected Services/EgvpEnterpriseSoap/EGVP-WebService814.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <documentation>
			Request the accounts configured in EGVP-Enterprise.
		</documentation>
  </annotation>
  <element name="getAllAccountsRequest">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <simpleType name="GetAllAccountsReturnCodeType">
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>Operation completed without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WEBSERVICE_DISABLED">
        <annotation>
          <documentation>The requested web service is disabled.
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AccountStateType">
    <annotation>
      <documentation>see "Fachkonzept EGVP".
				VALID, BLOCKED,
				ROLE_UNCONFIRMED
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="VALID" />
      <enumeration value="BLOCKED" />
      <enumeration value="ROLE_UNCONFIRMED" />
    </restriction>
  </simpleType>
  <complexType name="AccountInfoItem">
    <sequence>
      <element name="accountId" type="string">
        <annotation>
          <documentation>The account ID.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="state" type="tns:AccountStateType">
        <annotation>
          <documentation>The account state.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="expireDays" type="string">
        <annotation>
          <documentation>The amount of days before the account certificate
						will expire.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="organisation" type="string">
        <annotation>
          <documentation>The organisation of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="organisationalUnit" type="string">
        <annotation>
          <documentation>The organisational unit of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="address" type="string">
        <annotation>
          <documentation>The address part of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="title" type="string">
        <annotation>
          <documentation>The title part of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="christianName" type="string">
        <annotation>
          <documentation>The christian name part of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="name" type="string">
        <annotation>
          <documentation>The name part of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="street" type="string">
        <annotation>
          <documentation>The street part of the account address.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="streetNumber" type="string">
        <annotation>
          <documentation>The street number part of the account address.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="zipCode" type="string">
        <annotation>
          <documentation>The zipcode part of the account address.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="city" type="string">
        <annotation>
          <documentation>The city part of the account address.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="federalState" type="string">
        <annotation>
          <documentation>The federal state of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="country" type="string">
        <annotation>
          <documentation>The country of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="email" type="string">
        <annotation>
          <documentation>The email address of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="cellPhone" type="string">
        <annotation>
          <documentation>The cellphone number of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="phone" type="string">
        <annotation>
          <documentation>The phone number of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="fax" type="string">
        <annotation>
          <documentation>The fax number of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="externalId" type="string">
        <annotation>
          <documentation>The external ID of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="role" type="string">
        <annotation>
          <documentation>The role of the account.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="fetchServiceDisabled" type="boolean">
        <annotation>
          <documentation>Shows the state of the fetchservice.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="getAllAccountsResponse">
    <complexType>
      <sequence>
        <element minOccurs="1" name="returnCode" type="tns:GetAllAccountsReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="returnCodeDetails" type="string">
          <annotation>
            <documentation>Details to the result of the 'get all accounts'
							request.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" maxOccurs="unbounded" name="accountInfos" type="tns:AccountInfoItem">
          <annotation>
            <documentation>All accounts of the requested message.
						</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>