src/EgvpAddressbook/Connected Services/EgvpEnterpriseSoap/EGVP-WebService89.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <documentation>
			Request the state history for a certain sent message or
			send request.
		</documentation>
  </annotation>
  <simpleType name="GetAllStatesReturnCodeType">
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>Operation completed without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>The required userId was not specified.
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MESSAGE_OR_CUSTOM_ID_REQUIRED">
        <annotation>
          <documentation>The required id of the message or send order was not
						specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userId) does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_STATES_FOR_MESSAGE_OR_CUSTOM_ID">
        <annotation>
          <documentation>No states found for message or send order regarding
						the given message or custom id.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WEBSERVICE_DISABLED">
        <annotation>
          <documentation>The requested web service is disabled.
					</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MessageStateType">
    <annotation>
      <documentation>see "Fachkonzept EGVP".
				AU_RETRY, WS_ASEND, OSCI_SENT,
				WS_ASENT, WS_UNSENDABLE, WS_CANCELLED,
				OSCI_DELIVERED, OSCI_RECEIVED,
				WS_RECEIVED, WS_UNPROCESSABLE
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="AU_RETRY" />
      <enumeration value="WS_ASEND" />
      <enumeration value="WS_UNSENDABLE" />
      <enumeration value="WS_CANCELLED" />
      <enumeration value="OSCI_SENT" />
      <enumeration value="WS_ASENT" />
      <enumeration value="OSCI_RECEIVED" />
      <enumeration value="OSCI_DELIVERED" />
      <enumeration value="WS_RECEIVED" />
      <enumeration value="WS_UNPROCESSABLE" />
    </restriction>
  </simpleType>
  <element name="getAllStatesRequest">
    <complexType>
      <sequence>
        <element name="userId" type="string">
          <annotation>
            <documentation>The account to use.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="customOrMessageId" type="string">
          <annotation>
            <documentation>The custom or message id to get state for.
						</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="getAllStatesResponse">
    <complexType>
      <sequence>
        <element name="returnCode" type="tns:GetAllStatesReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="returnCodeDetails" type="string">
          <annotation>
            <documentation>Details to the result of the 'get all states'
							request.</documentation>
          </annotation>
        </element>
        <element maxOccurs="unbounded" name="states" type="tns:StateItem">
          <annotation>
            <documentation>All states of the requested message, ordered by
							event date.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <complexType name="StateItem">
    <sequence>
      <element name="state" type="tns:MessageStateType">
        <annotation>
          <documentation>The current state of message/custom id.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="time" type="dateTime">
        <annotation>
          <documentation>The time, that this state got current.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="customId" type="string">
        <annotation>
          <documentation>The custom id to get states for.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="messageId" type="string">
        <annotation>
          <documentation>The message id to get states for.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="senderId" type="string">
        <annotation>
          <documentation>The sender id belonging to the request.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="receiverId" type="string">
        <annotation>
          <documentation>The receiver id belonging to the request.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>